/**
 * @file
 * Styling for custom code on IT Services website.
 */

.front #block-system-main h1 {
  display: block;
}

/* Big Brother Status */

#bbstatus {
  overflow-y: scroll;
  max-height: 150px;
  margin: 0 0 1em;
  padding: 4px 5px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  font-family: Arial, Helvetica, clean, sans-serif;
  font-size: 11px;
  line-height: normal;
}

#bbstatus ul {
  margin: 0;
  padding: 0;
}

#bbstatus li {
  list-style-type: none;
  list-style-image: none;
}

.bbstatus-green {
  color: #080;
}

.bbstatus-yellow {
  color: #f80;
}

.bbstatus-red {
  color: #f00;
}

#bbstatus a {
  color: inherit;
  border-bottom-color: inherit;
}

#bbstatus.bbstatus-green > a {
  border-bottom-color: #080;
}

#bbstatus.bbstatus-yellow > a {
  border-bottom-color: #f80;
}

#bbstatus.bbstatus-red > a {
  border-bottom-color: #f00;
}

.bb-green {
  color: #080;
}

.bb-yellow {
  color: #f80;
}

.bb-red {
  color: #f00;
}

.bb-blue {
  color: #00f;
}

.bb-purple {
  color: #808;
}

/* Server Database Status Report Overrides */

.field-name-server-status-report pre {
  font-size: 13px;
}

.server-update-report {
  margin: 0 0 1em;
}

.server-health-report pre {
  font-size: 13px;
}

/* VLAN Matrix */

.vlan-matrix thead,
.vlan-matrix tbody {
  font-size: 11px;
}
