/**
 * @file
 * Styling for IT Services website.
 */

/* Parent theme overrides */

#breadcrumb {
  display: block;
  margin: 0 auto;
}

.node .submitted {
  text-transform: uppercase;
  font-size: 0.625em;
  font-style: inherit;
}

.button-primary {
  color: #fff !important;
  background-color: #0054a6;
}

.button {
  display: inline-block;
  padding: 0.65em 1em;
  border-radius: 10px;
}

/* Styling for desktop displays */
@media only screen and (min-width: 800px) {
  #breadcrumb,
  #section-main,
  .one-sidebar #section-main,
  .two-sidebars #section-main,
  .header-container,
  #section-navigation > * {
    width: 96vw;
    max-width: 1600px;
  }
}

/* Views */

.view-proxy-services thead,
.view-proxy-services tbody {
  font-size: 11px;
}

.private-Yes strong {
  padding-left: 20px;
  background: url("/sites/all/modules/contrib/private/icon_key.gif") no-repeat 0 0;
}

/* Blocks */

#block-block-3 {
  margin: 0.75em 0;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fafafa;
}

#block-block-3 > .content {
  padding: 1em;
  font-size: 0.833em; /* 11.662px */
  line-height: 1.3em;
}

/* Nodes and fields */

.node-private {
  border-top: 3px solid #ffd700;
}

/* User Profile */

.profile .user-picture {
  /* Make this not annoying for now. Use hook_user_view() to make it right. */
  float: none;
  margin: 0;
}
