/**
 * @file
 * Style Sheet for Server Status report info.
 */

.server-update-report > .update-info > .server-name {
  display: inline-block;
  font-weight: bold;
  min-width: 12em;
}

.server-update-report > .update-info > .server-name > a {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.server-update-report > .stale {
  color: #b40000;
}

.server-health-report pre {
  font-size: 14px;
}
